header_area {
  width: 100%;
}

/* ┌─────────────────────────────────────────┐
   │ セクション名                        │
   └─────────────────────────────────────────┘ */
#header_area {
  width: 100%;
}

/* ロゴを囲むコンテナ */
.header_content {
  width: 15rem;
  height: auto;
  margin: 2rem;
  margin: 1.4rem 0rem 1.4rem 21rem;
}

.header_logo {
  width: 100%;
}

/* ┌─────────────────────────────────────────┐
   │ nav                                    │
   └─────────────────────────────────────────┘ */
.nav_area {
  width: 100%;
  height: 5rem;
  padding-left: 21rem;
  background-color: black;
  align-items: center;
  display: flex;
  align-items: center;
}

.nav_links {
  justify-content: flex-start;

  align-items: center;
  display: flex;
  color: white;
  gap: 6rem;
}

.nav_link {
  font-size: 1.4rem;
  color: white;
}

/* ┌─────────────────────────────────────────┐
   │ main                                    │
   └─────────────────────────────────────────┘ */

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 21rem;
  margin: 0 auto;
  /* border: 0.5rem solid red; */
}

/* --- カード全体のレイアウト --- */
.card_section {
  max-width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
}

.card_list {
  display: flex; /* 横並びにする（Flexbox） */
  justify-content: space-between; /* 均等に配置 */
}

/* --- 各カード（個別の箱） --- */
.card_item {
  width: 32%; /* 3つ並べるため、33.3%より少し小さくして余白を作る */
}

/* --- 画像まわり --- */
.card_img_wrapper img {
  width: 100%; /* 親要素に合わせてリサイズ */
  height: auto;
}

/* --- テキストまわり --- */
.card_title {
  margin: 1.5rem 0; /* 上下の余白 */
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.9rem;
}

.card_link {
  display: block; /* ブロック化して中央寄せできるようにする */
  text-align: center;
  font-size: 1.4rem;
  text-decoration: underline; /* 下線 */
  color: #333333;
}
